.my-container {
    width: unset;
}

img {
    width: 40rem;
    height: 25rem;
    object-fit: cover;
}

<<<<<<< HEAD
.my-block {
    display: none;
}

.visible {
    display: unset;
}
=======
>>>>>>> d95c75f7921f30ebfe7f1c68e31b4c4ba4470720
