.my-container {
    width: unset;
}

img {
    width: 40rem;
    height: 25rem;
    object-fit: cover;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 96bde34befca40318b7bdbb73647f170d909f373
.my-block {
    display: none;
}

.visible {
    display: unset;
}
<<<<<<< HEAD
=======
=======
>>>>>>> d95c75f7921f30ebfe7f1c68e31b4c4ba4470720
>>>>>>> 96bde34befca40318b7bdbb73647f170d909f373
